:root {
    --blue: #1695a7;
}

* {
    box-sizing: inherit;
}

.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 25%;
    font-size: 14px;
    text-align: left;
    color: #fff;
    background-color: rgba(145, 13, 13, .8);
}

.sidebar-inner {
    position: relative;
    height: 100%;
    padding-top: 45px;
    padding-right: 40px;
    padding-bottom: 45px;
    padding-left: 40px;
}

.person-content {
    margin-top: 30px;
    margin-left: -40%;
    margin-right: -40%;
    text-align: center;
}

.person-title {
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.person-subtitle {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}

.navigation {
    margin: 45px -40px;
    line-height: 45px;
    position: relative;
    font-size: 15px;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation li {
    position: relative;
    padding: 0 40px;
}

.navigation a {
    color: #fff;
    display: block;
    text-decoration: none;
}

div {
    display: block;
}

body {
    font: 16px/1.6 "Roboto", Helvetica, sans-serif;
    font-weight: 300;
}

.uppercase {
    text-transform: uppercase;
}

#intro {
    background-image: url(../../assets/images/derek-m.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    box-sizing: inherit;
    position: relative;
    margin: 0;
    height: 100vh;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 0px;
    display: block;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#intro .container-head {
    color: white;
    font-weight: 100;
    font-size: 30px;
    left: 13px;
    position: absolute;
    top: 3px;
    width: 95%;
    padding: 0 1.5rem;
    box-sizing: inherit;

}

section {
    padding-bottom: 30px;
    padding-top: 0;
}

h3 {
    background-color: var(--blue);
    color: #FFFFFF;
    font-weight: 200;
    margin-bottom: 30px;
    margin-top: 0;
    padding: 30px 40px;
}

blockquote {
    border-left: 5px solid rgba(51, 24, 24, 0.514);
    color: rgba(51, 24, 24, 0.514);
    font-size: 125%;
    font-weight: 400;
    margin: 20px 15px;
    padding-left: 2.5rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 0px;
    line-height: 37px;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
}

.card {
    position: relative;
    margin: 10px 20px 30px 0;
    box-sizing: border-box;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", Helvetica;
    border: 2px solid var(--blue);
    box-shadow: 4px 4px var(--blue);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 95%;
    padding: 0 1.5rem;
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-title {
    line-height: 2.5rem;
    font-size: 24px;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
}

.card-content {
    padding: 0px 20px 5px 20px;
    margin: 0;
    font-size: 16px;
    max-width: 475px;
}

.hoverline {
    border-bottom: 3px solid var(--blue);
    color: var(--blue);
    text-decoration: none;
}

img {
    height: auto;
    width: 400px;
}

#first-app {
    flex: 1 2 40px;
}

.contact-container {
        width: 95%;
        padding: 0 1.5rem;
        margin: 0 auto;
        max-width: 1280px;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
    }
